.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {margin: 0; padding: 0; list-style: none;}
.dd-wrapper .dd-menu {overflow: hidden; position: relative;}
.dd-wrapper  .dd-menu ul {margin: 0; position: absolute; top: 0; right: 0;}
.dd-wrapper .dd-menu a {display: block;}
/* Main menu styling */
#drilldown {
    border-top: 1px solid #bbb;
}
#drilldown a {
    text-decoration: none;
    color: #222;
    padding: 8px 10px;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #fff;
}
#drilldown li.dd-parent li a {
    padding: 8px 10px 8px 25px;
}
#drilldown a:hover {
    color: #990000;
    background: #fff;
}
#drilldown li.last {
    border-bottom: 1px solid #fff;
}
#drilldown li.dd-parent li a.dd-parent-a {
    padding: 8px 10px;
}
#drilldown li.dd-parent a.active {
    color: #000;
    background-color: #ccc;
}
#drilldown .dd-count {
    position: absolute;
    top: 8px;
    right: 40px;
}

/* Menu Header/Breadcrumbs */
.dd-wrapper .dd-header {
    font-size: 0.9em;
}
.dd-wrapper .dd-header ul {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #bbb;
    padding: 5px 10px;
}
.dd-wrapper .dd-header li {
    display: inline;
    margin-right: 5px;
}
.dd-wrapper .dd-header h3 {
    padding: 5px 10px;
    margin: 0;
    font-size: 1.2em;
}